#Pricing {
  background-image: url(../../../assets/Images/PricingImages/pricing_bg.jpg);
  background-position: top center;
  background-size: cover;
  padding: 120px 0 90px;
}

#Pricing .container {
  display: flex;
  flex-direction: column;
}

.pricing-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}

.pricing-top::before {
  position: absolute;
  content: "";
  top: 100px;
  left: auto;
  right: auto;
  background-image: url("../../../assets/Images/PricingImages/Bgshape.png");
  width: 98px;
  height: 7px;
}

.pricing-top span {
  font-weight: 700;
  color: #bcbcbc;
}
.pricing-top h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 36px;
}

.pricing-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 0 80px;
  width: 100%;
}

.pricing-box {
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.14);
  background: #1f1e24;
  border: 2px solid #1f1e24;
  padding: 45px 40px 60px;
  transition: 0.3s linear;
  width: 60%;
}
.pricing-box:nth-child(2) {
  position: relative;
}
.pricing-box:hover {
  border-radius: 4px;
  border-color: #b4a729;
}

.pricing-subscription {
  text-align: center;
  margin-bottom: 45px;
}

.pricing-subscription h6 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  color: white;
}

.subscription-price {
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.14),
    inset 0px 3px 7px 0px rgba(0, 0, 0, 0.31);
  max-width: 138px;
  background: #e2dc15;
  padding: 30px 25px;
  margin: 22px auto 0;
}

.subscription-price h3 {
  font-size: 28px;
  color: #14141d;
  line-height: 1;
  margin-bottom: 7px;
}

.title-color1 {
  color: #161a16 !important;
}

.title-color2 {
  color: #161a16 !important;
}

.title-color3 {
  color: #161a16 !important;
}
.subscription-price span {
  display: block;
  color: #161a16;
  font-weight: 700;
  line-height: 1;
}

.pricing-list ul {
  margin: 0px;
  padding: 0px;
}

.pricing-list li {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #414146;
  font-size: 12px;
  color: #fff;
}
.pricing-list li span {
  float: right;
  padding-right: 5px;
}

.pricing-list li:nth-child(1) span {
  color: #e4d804;
  text-transform: uppercase;
}
.pricing-list ul li svg {
  margin-right: 10px;
}
.pricing-list ul li:nth-child(1) svg {
  color: #e4d804;
}
.pricing-list ul li:nth-child(2) svg {
  color: #e4d804;
}
.pricing-list ul li:nth-child(3) svg {
  color: #e4d804;
}
.pricing-list ul li:nth-child(4) svg {
  color: #e4d804;
}

.pricing-btn {
  text-transform: capitalize;
  letter-spacing: 0;
  padding: 12px 32px;
  text-align: center;
  margin-top: 40px;
}

.pricing-btn a {
  border: 2px solid #e4d804;
  border-radius: 50px;
  color: #e3dfdf;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 16px 34px;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 200px;
}

.pricing-btn a:hover {
  background-color: #e4d804;
  color: #20212b;
  border-color: #20212b;
}

.modal-overlays {
  padding: 30px;
  background-color: #1a191f;
  margin: 0 auto;

  max-width: 349px;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: -12px;
  left: -12px;
  bottom: -12px;
  right: -12px;
}
.close-buttonModal {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background: transparent;
  font-size: 20px;
  height: 24px;
  top: 30px;
  right: 20px;
  border: none;
}
.close-buttonModal :hover {
  color: #000000;
}
.close-buttonModal svg {
  background-color: #f9ab00;
}



.modal-content h4 {
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 20px;
}

.modal-content .inputGroup {
  margin-bottom: 20px;
  width: 100%;
}

.modal-content .inputGroup input {
  background-color: #222028;
  border: 2px solid transparent;
  height: 46px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-top: 10px;
}
.modal-content .inputGroup input:focus {
  border-color: #b64444;
}
.modal-content .inputGroup label {
  font-size: 14px;
  line-height: 100%;
  color: #c0c0c0;
  width: 100%;
  margin-bottom: 15px;
}

.modal-content .selectGroup {
  background: url(../img/angle-down.svg) no-repeat center right 20px #222028;
  background-size: 20px auto;
  border: 2px solid transparent;
  border-radius: 8px;
  height: 46px;
  position: relative;
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
}


.modal-content .txt-modal {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 15px;
}

.payment-method {
  margin-bottom: 20px;
  width: 100%;
}
.payment-method p {
  margin: 15px 0;
}
.payment-method label {
  color: #c0c0c0;
  font-size: 14px;
  line-height: 100%;
  color: #c0c0c0;
  width: 100%;
  margin-bottom: 15px;
}
.payment-method p label {
  position: relative;
  margin-left: 7px;
  color: #c0c0c0;
}
.payment-method label ::before {
  border-color: #f9ab00;
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #222028;
  background-color: transparent;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: border-color 0.4s ease;
}
.payment-method label input {
  color: #f9ab00;
}

.btn-Proceed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #f9ab00;
  margin-top: 10px;
}
.btn-Proceed span a {
  color: #fff;
}
